.modal-dialog{
	height: 90%;
}
.modal-content {
	max-height: 100%;
    height: 100%;
}

/*.img-fluid{
	border-image: 8px;
}*/

.container{
	font-size: 
}

.modal-body {
	font-family: 'Lato', sans-serif;
	padding: 14px;

    max-height: 100%;
    overflow-y: scroll;
}
.modal-header {
	weight: 200px 200px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100px;

    background-color: #00A637;
    padding:50px 50px;
   /* color:#FBD900;*/
    border-bottom:2px dashed #000000;
}

.redes_txt{
    text-align: center;
}

.icon_redes{
    text-align: center;
}

.icon-whatsapp,.icon-youtube-play,.icon-facebook,.icon-twitter,.icon-instagrem{
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 30px;
    background: rgb(0, 0, 0);
    color: #00AFEF;
    text-align: center;
    line-height: 40px;
    border-radius: 5px; 
    cursor: pointer;
    margin-left: auto;
}
